# ======================
# Java / Maven
# ======================
target/
*.class
.mvn/wrapper/maven-wrapper.jar

# Allow target in src (если нужно)
!**/src/main/**/target/
!**/src/test/**/target/

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml
*.iws
*.ipr

# ======================
# Spring / STS
# ======================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ======================
# Node / React
# ======================
node_modules/
dist/
build/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Env & Logs
# ======================
.env
.env.local
*.log

# ======================
# Misc
# ======================
HELP.md